.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 196px;
  margin-top: 48px;
  position: relative;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: left;
}

.about-pic img {
  object-fit: cover;
  border-radius: 4px;
}

.icon-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 0;
  transform: translate(-75%, 4%);
  z-index: -999;
}

@media (width <= 1100px) {
  .icon-bg {
    display: none;
  }
}

@media (max-width: 780px) {
  .about-content {
    display: flex;
    flex-direction: column;

    & .about-pic img {
      max-width: 100%;
    }

    & .about-text {
      margin-top: -140px;
    }
  }
}
