.banner {
  margin-top: 88px;
  background: var(--color-dark-bg);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.banner__content {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-grey);
  padding: 36px 0;
  animation: scrollBanner 20s linear infinite;
}

.banner__tag {
  display: inline-block;
  padding: 0 36px;
}

.banner__bar {
  color: var(--color-green);
}

@keyframes scrollBanner {
  50% {
    transform: translateX(-10%);
  }

  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(10%);
  }
}