.experience-list {
  margin-top: 48px;
}

.experience-item {
  margin-top: 32px;
}

.experience-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.enterprise {
  display: flex;
  gap: 18px;
}

.date {
  color: var(--accent-color);
  font-size: clamp(1rem, 4vw, 1.2rem);
}

.experience-subtitle {
  color: var(--title-color-secondary);
}

.arrow-link {
  display: flex;
  align-items: center;
}

.experience-description {
  text-wrap: wrap;
  margin-top: 24px;
  margin-left: auto;
  max-width: 920px;
}

@media (max-width: 560px) {
  .experience-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    & .date {
      grid-row: 2;
    }

    & .enterprise {
      grid-row: 1;
    }
  }
}
