.courses {
  display: flex;
  flex-direction: column;
}

.formation-course {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  max-height: auto;
  border-bottom: 1px solid var(--border-color);
}

.introduction-course {
  display: flex;
  align-items: center;
  padding-block: 32px;
  gap: 24px;
}

.tech-icons {
  display: inline-block;
  line-height: 0;
  font-size: 2.25rem;
  gap: 0;
  position: relative;
}

.formation-icon-figma {
  background: #a259ff;
  border-radius: 4px;
  padding: 13px;
}

.formation-icon-html {
  background: #ef5b29;
  border-radius: 4px;
  padding: 13px;
  z-index: 1;
}

.formation-icon-css {
  background: #1775bb;
  border-radius: 4px;
  padding: 13px;
  z-index: 2;
}

.formation-icon-javascript {
  background: #fcb040;
  border-radius: 4px;
  padding: 13px;
  z-index: 3;
}

.formation-icon-superimpose {
  margin-left: -30px;
}

.information {
  display: flex;
  gap: 16px;
  align-items: center;

  .name {
    font: var(--text-md);
  }

  .hours {
    font: var(--text-sm);
  }
}

@media (max-width: 900px) {
  .formation-course {
    display: flex;
    flex-direction: column;
    padding-block: 12px;
  }

  .introduction-course {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    & .formation-subtitle {
      margin-top: 16px;
    }
  }

  .information {
    margin-top: -16px;
  }
}
