html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

:root {
  --title-color-primary: #fff;
  --accent-color: #5de4c7;
  --background-color: #0e1219;
  --detail: #89ddff;
  --text-color-primary: #e4f0fb;
  --title-color-secondary: #91b4d5;
  --border-color: #303240;
  --font-family: "Outfit", sans-serif;
  --logo: 700 2.5rem/120% var(--font-family);
  --title: 700 4rem/120% var(--font-family);
  --title-secondary: 700 1.5rem/130% var(--font-family);
  --paragraph-md: 1.125rem/160% var(--font-family);
  --text-sm-bold: 700 0.875rem/170% var(--font-family);
  --text-md: 500 1.125rem/120% var(--font-family);
  --text-sm: 1rem/120% var(--font-family);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font: var(--paragraph-md);
  color: var(--text-color-primary);
  background-color: var(--background-color);
  overflow-x: hidden;
}

nav,
header,
main,
footer {
  max-width: 1099px;
  margin: 0 auto;
}

section {
  margin-top: 128px;
}

img {
  display: inline-block;
}

h1 {
  font: var(--title);
}

h3 {
  font: var(--title-secondary);
}

mark {
  background: transparent;
  color: var(--accent-color);
}

.main-titles {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 128px;
  padding-bottom: 64px;
  text-align: center;
}

#myBtn {
  display: none;
  position: fixed;
  font-size: 2rem;
  background-color: var(--text-color-primary);
  color: var(--background-color);
  width: 48px;
  height: 86px;
  bottom: 20px;
  right: 30px;
  border: none;
  border-radius: 999px;
  outline: none;
  cursor: pointer;
  padding: 15px;
  z-index: 99;
}

#myBtn:hover {
  background-color: var(--accent-color);
}
