#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  gap: 132px;
}

.profile {
  position: relative;
}

.gradient-bg {
  width: 100%;
  padding: 5px;
  background: linear-gradient(135deg, #89ddff, #5de4c7);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-bg {
  background-color: var(--background-color, #000);
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.profile-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 0;
  transform: translate(50%, 50%);
}

.introduction {
  em {
    font-style: normal;
    background: -webkit-linear-gradient(15deg, #91b4d5, #303240);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.header-icons {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 32px;

  i {
    font-size: 2rem;
  }
}

@media (max-width: 780px) {
  #header {
    display: flex;
    flex-direction: column;
    margin-top: 75px;

    & .profile-icon {
      display: none;
    }

    & .introduction {
      margin-top: -38px;
    }
  }
}
