.header {
  margin: 6.4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  gap: 3.2rem;
}

.header-menu__link {
  padding: 0.8rem;
  font-size: 2rem;
  color: var(--slate-800);
  border-bottom: 2px solid transparent;
  transition: 500ms;
}

.header-menu__link:hover {
  border-bottom: 2px solid var(--green-500);
  font-weight: 700;
}

.logo {
  color: var(--slate-800);
  font-weight: 700;
  font-size: 4rem;
}

.logo span {
  color: var(--green-500);
}
