.introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 88px;
  width: 100%;
  gap: 54px;
}

.introduction__title {
  font-size: var(--font-size-title);
  font-weight: bold;
  color: var(--color-dark-bg);
}


.introduction__title-em {
  color: var(--color-dark-grey);
}

.introduction__point {
  color: var(--color-green);
}

.introduction__tech-icons {
  display: flex;
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
  gap: clamp(12px, 5vw, 24px);
  color: var(--color-dark-bg);
  margin-top: clamp(12px, 5vw, 24px);
}

@media (max-width: 768px) {
  .introduction {
    flex-direction: column;
    text-align: center;
  }

  .introduction__profile-pic {
    width: 140px;
    height: 140px;
  }

  .introduction__tech-icons {
    justify-content: center;
  }
}