:root {
  --green-500: #22c55e;
  --slate-800: #1e293b;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", Arial, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
}
